PORT=3000
REDIS_URL=redis://localhost:6379
SUPABASE_URL=https://kollxlzqqgznfiutpqjz.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtvbGx4bHpxcWd6bmZpdXRwcWp6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMzNjgwNSwiZXhwIjoyMDg4OTEyODA1fQ.5Cl9l5hi1ijpTJCoo4z51BXmEngVnEYbqVjLtxveviU
CLOUDFLARE_AI_WORKER_URL=https://cricket-match-simulator.arghyachowdhury2610.workers.dev
NODE_ENV=development
